@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fonts */
@font-face {
  font-family: DMSerifText;
  src: url(../Fonts/DM_Serif_Text/DMSerifText-Regular.ttf);
}
@font-face {
  font-family: Source-Sans-Pro;
  src: url(../Fonts/source-sans-pros/SourceSansPro-Regular.otf);
}
/* End of Fonts */
/* Tyler's CSS */
.loginBgImage{
  background-image: url(../Assets/MockTalkLogin.jpg);
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* End of Tyler's CSS */

body {
  background-color: #696969;
}

.overflowW {
  word-break: break-all
}